<!doctype html>
<title>SimQue</title>
<div>
  <h1>SimQue</h1>
  <hr>
  <h2>Configuração da simulação</h2>
  <form action="{{ url_for('config') }}" method=post>
    <dl>
      <dt>TEC (tempo entre chegadas) da entidade 1</dt>
      <dd>
        <select id="tec1" name="tec1_aleatory" required>
          <option value=" " selected>Selecione</option>
          <option value="0">Determinístico (constante)</option>
          <option value="1">Normal</option>
          <option value="2">Uniforme</option>
          <option value="3">Triangular</option>
          <option value="4">Exponencial</option>
        </select>
      </dd>
      <dd>
        <input id="tec_c1" name="tec_c1" type="number" style="display: none;" placeholder="Valor da constante do TEC 1">
      </dd>
      <dd>
        <input id="tec_e1" name="tec_e1" type="number" style="display: none;" placeholder="Média da exponencial do TEC 1">
      </dd>
      <dd id="tec_n1" style="display: none;">
        <input name="tec_n_media1" type="number" placeholder="Média da normal do TEC 1">
        <input name="tec_n_dp1" type="number" placeholder="Desvio padrão da normal do TEC 1">
      </dd>
      <dd id="tec_t1" style="display: none;">
        <input name="tec_t_min1" type="number" placeholder="Mínimo da triangular do TEC 1">
        <input name="tec_t_max1" type="number" placeholder="Máximo da triangular do TEC 1">
        <input name="tec_t_mod1" type="number" placeholder="Moda da triangular do TEC 1">
      </dd>
      <dd id="tec_u1" style="display: none;">
        <input name="tec_u_min1" type="number" placeholder="Mínimo da uniforme do TEC 1">
        <input name="tec_u_max1" type="number" placeholder="Máximo da uniforme do TEC 1">
      </dd>

      <dt>TEC (tempo entre chegadas) da entidade 2</dt>
      <dd>
        <select id="tec2" name="tec2_aleatory" required>
          <option value=" " selected>Selecione</option>
          <option value="0">Determinístico (constante)</option>
          <option value="1">Normal</option>
          <option value="2">Uniforme</option>
          <option value="3">Triangular</option>
          <option value="4">Exponencial</option>
        </select>
      </dd>
      <dd>
        <input id="tec_c2" name="tec_c2" type="number" style="display: none;" placeholder="Valor da constante do TEC 2">
      </dd>
      <dd>
        <input id="tec_e2" name="tec_e2" type="number" style="display: none;" placeholder="Média da exponencial do TEC 2">
      </dd>
      <dd id="tec_n2" style="display: none;">
        <input name="tec_n_media2" type="number" placeholder="Média da normal do TEC 2">
        <input name="tec_n_dp2" type="number" placeholder="Desvio padrão da normal do TEC 2">
      </dd>
      <dd id="tec_t2" style="display: none;">
        <input name="tec_t_min2" type="number" placeholder="Mínimo da triangular do TEC 2">
        <input name="tec_t_max2" type="number" placeholder="Máximo da triangular do TEC 2">
        <input name="tec_t_mod2" type="number" placeholder="Moda da triangular do TEC 2">
      </dd>
      <dd id="tec_u2" style="display: none;">
        <input name="tec_u_min2" type="number" placeholder="Mínimo da uniforme do TEC 2">
        <input name="tec_u_max2" type="number" placeholder="Máximo da uniforme do TEC 2">
      </dd>

      <dt>TS (tempo de serviço) do servidor 1</dt>
      <dd>
        <select id="ts1" name="ts1_aleatory" required>
          <option value=" " selected>Selecione</option>
          <option value="0">Determinístico (constante)</option>
          <option value="1">Normal</option>
          <option value="2">Uniforme</option>
          <option value="3">Triangular</option>
          <option value="4">Exponencial</option>
        </select>
      </dd>
      <dd>
        <input id="ts_c1" name="ts_c1" type="number" style="display: none;" placeholder="Valor da constante do TS 1">
      </dd>
      <dd>
        <input id="ts_e1" name="ts_e1" type="number" style="display: none;" placeholder="Média da exponencial do TS 1">
      </dd>
      <dd id="ts_n1" style="display: none;">
        <input name="ts_n_media1" type="number" placeholder="Média da normal do TS 1">
        <input name="ts_n_dp1" type="number" placeholder="Desvio padrão da normal do TS 1">
      </dd>
      <dd id="ts_t1" style="display: none;">
        <input name="ts_t_min1" type="number" placeholder="Mínimo da triangular do TS 1">
        <input name="ts_t_max1" type="number" placeholder="Máximo da triangular do TS 1">
        <input name="ts_t_mod1" type="number" placeholder="Moda da triangular do TS 1">
      </dd>
      <dd id="ts_u1" style="display: none;">
        <input name="ts_u_min1" type="number" placeholder="Mínimo da uniforme do TS 1">
        <input name="ts_u_max1" type="number" placeholder="Máximo da uniforme do TS 1">
      </dd>

      <dt>TS (tempo de serviço) do servidor 2</dt>
      <dd>
        <select id="ts2" name="ts2_aleatory" required>
          <option value=" " selected>Selecione</option>
          <option value="0">Determinístico (constante)</option>
          <option value="1">Normal</option>
          <option value="2">Uniforme</option>
          <option value="3">Triangular</option>
          <option value="4">Exponencial</option>
        </select>
      </dd>
      <dd>
        <input id="ts_c2" name="ts_c2" type="number" style="display: none;" placeholder="Valor da constante do TS 2">
      </dd>
      <dd>
        <input id="ts_e2" name="ts_e2" type="number" style="display: none;" placeholder="Média da exponencial do TS 2">
      </dd>
      <dd id="ts_n2" style="display: none;">
        <input name="ts_n_media2" type="number" placeholder="Média da normal do TS 2">
        <input name="ts_n_dp2" type="number" placeholder="Desvio padrão da normal do TS 2">
      </dd>
      <dd id="ts_t2" style="display: none;">
        <input name="ts_t_min2" type="number" placeholder="Mínimo da triangular do TS 2">
        <input name="ts_t_max2" type="number" placeholder="Máximo da triangular do TS 2">
        <input name="ts_t_mod2" type="number" placeholder="Moda da triangular do TS 2">
      </dd>
      <dd id="ts_u2" style="display: none;">
        <input name="ts_u_min2" type="number" placeholder="Mínimo da uniforme do TS 2">
        <input name="ts_u_max2" type="number" placeholder="Máximo da uniforme do TS 2">
      </dd>

      <dt>TEF (tempo entre falhas)</dt>
      <dd>
        <select id="tef" name="tef_aleatory" required>
          <option value=" " selected>Selecione</option>
          <option value="0">Determinístico (constante)</option>
          <option value="1">Normal</option>
          <option value="2">Uniforme</option>
          <option value="3">Triangular</option>
          <option value="4">Exponencial</option>
        </select>
      </dd>
      <dd>
        <input id="tef_c" name="tef_c" type="number" style="display: none;" placeholder="Valor da constante do TEF">
      </dd>
      <dd>
        <input id="tef_e" name="tef_e" type="number" style="display: none;" placeholder="Média da exponencial do TEF">
      </dd>
      <dd id="tef_n" style="display: none;">
        <input name="tef_n_media" type="number" placeholder="Média da normal do TEF">
        <input name="tef_n_dp" type="number" placeholder="Desvio padrão da normal do TEF">
      </dd>
      <dd id="tef_t" style="display: none;">
        <input name="tef_t_min" type="number" placeholder="Mínimo da triangular do TEF">
        <input name="tef_t_max" type="number" placeholder="Máximo da triangular do TEF">
        <input name="tef_t_mod" type="number" placeholder="Moda da triangular do TEF">
      </dd>
      <dd id="tef_u" style="display: none;">
        <input name="tef_u_min" type="number" placeholder="Mínimo da uniforme do TEF">
        <input name="tef_u_max" type="number" placeholder="Máximo da uniforme do TEF">
      </dd>

      <dt>TF (tempo em falha)</dt>
      <dd>
        <select id="tf" name="tf_aleatory" required>
          <option value=" " selected>Selecione</option>
          <option value="0">Determinístico (constante)</option>
          <option value="1">Normal</option>
          <option value="2">Uniforme</option>
          <option value="3">Triangular</option>
          <option value="4">Exponencial</option>
        </select>
      </dd>
      <dd>
        <input id="tf_c" name="tf_c" type="number" style="display: none;" placeholder="Valor da constante do TF">
      </dd>
      <dd>
        <input id="tf_e" name="tf_e" type="number" style="display: none;" placeholder="Média da exponencial do TF">
      </dd>
      <dd id="tf_n" style="display: none;">
        <input name="tf_n_media" type="number" placeholder="Média da normal do TF">
        <input name="tf_n_dp" type="number" placeholder="Desvio padrão da normal do TF">
      </dd>
      <dd id="tf_t" style="display: none;">
        <input name="tf_t_min" type="number" placeholder="Mínimo da triangular do TF">
        <input name="tf_t_max" type="number" placeholder="Máximo da triangular do TF">
        <input name="tf_t_mod" type="number" placeholder="Moda da triangular do TF">
      </dd>
      <dd id="tf_u" style="display: none;">
        <input name="tf_u_min" type="number" placeholder="Mínimo da uniforme do TF">
        <input name="tf_u_max" type="number" placeholder="Máximo da uniforme do TF">
      </dd>

      <dt>Fila possui limite?</dt>
      <dd>
        <select name="limit_queue" required>
          <option value=" " selected>Selecione</option>
          <option value="1">Sim</option>
          <option value="0">Não</option>
        </select>
      </dd>
      <dd><input type=submit value=Simular></dd>
    </dl>
  </form>
</div>

<script src="{{ url_for('static', filename='config.js') }}"></script>
