<!doctype html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app.css') }}">
<title>SimQue - Documentação</title>
<div>
  <h1>Documentação SimQue</h1>
  <hr>
  <h2>Tecnologias e ferramentas utilizadas</h2>
  <h3><a href="http://flask.pocoo.org/">Flask</a></h3>
  <p>
    "Microframework para Python baseado em Werkzeug, Jinja 2 e boas intenções."
    Foi a plataforma escolhida para desenvolvimento do site.
  </p>
  <h3><a href="https://www.pythonanywhere.com/">PythonAnywhere</a></h3>
  <p>
    "Execute e codifique Python na nuvem!" Foi o modo escolhido para dar o deploy do site em produção.
  </p>
  <h3><a href="https://www.github.com">GitHub</a></h3>
  <p>
    Plataforma de hospedagem de código-fonte com controle de versão que utiliza o Git. Local escolhido para fazer o versionamento do site.
  </p>
  <h3><a href="https://code.visualstudio.com/">Visual Studio Code</a></h3>
  <p>
    Editor de código-fonte, tão poderoso quanto uma IDE, open source desenvolvido pela Microsoft. Através dele que o código foi escrito.
  </p>
  <h2>Utilização do sistema</h2>
  <p>
    <!-- falar tela por tela -->
  </p>
  <h2>Alguns detalhes sobre a implementação</h2>
  <p>
    <!-- comentar principais trechos, associar com slide -->
  </p>
</div>
